<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="styles/reset.css">
		<link rel="stylesheet" href="styles/styles.css">
		<meta name="viewport" content="width=device-width">
		<link href="https://fonts.googleapis.com/css?family=Karla|Raleway" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="cts-navbar">
				<a href="{{ navlinks.home }}" id="cts-home-button">cam sexton</a>
				<ul class="cts-navbar__main-list">
					<li><a href="{{ navlinks.about }}">about</a></li>
					<li><a href="{{ navlinks.schedule }}">schedule</a></li>
					<li><div class="dropdown">
						<a id="dropbtn">work</a>
						<ul class="dropdown-content">
							<li><a href="{{ navlinks.web }}">web</a></li>
							<li><a href="{{ navlinks.instruments }}">instruments</a></li>
							<li><a href="{{ navlinks.music }}">music</a></li>
							<li><a href="{{ navlinks.github }}">github</a><img src="./assets/github_small.svg" height="25px" style="padding-right: 15px" /></li>
						</ul>
						</div></li>
					<li><a href="{{ navlinks.contact }}">contact</a></li>
				</ul>
			</div>
		</header>
		<div class="cts-main-content_wide">
			{% block cts_main_content_wide %}
			{% endblock %}
		</div>
		<footer class="cts-footer">
		</footer>
	</body>
</html>
